<div class="text-center">
  <h1>About Me</h1>
  <h3>Who am I?</h3>
  <p>I'm a student creating my first website 
     with Ruby on Rails and taking a course 
     in web technologies to learn some useful 
     features for my career as an engineer.
  .</p>
</div>
